/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.3em;
  font-size: 5em;
  height: 2.5em;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background: linear-gradient(-30deg, #946a90, #ff5898, #ff5151, #f88e5d, #966b92);
  background-size: 300% 300%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.search-bar {
  box-shadow: 0 5px 5px 5px lightgrey;
  width: 800px;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.search-bar * {
  font-size: 22px;
  margin: 15px;
  width: 20%;
}
.search-bar input {
  display: block;
  border-bottom: 2px solid darkgrey;
  flex-grow: 10;
}
.search-bar input:focus {
  outline: none;
}
.search-bar button {
  background-color: white;
  display: inline-block;
  position: relative;
  margin: 15px 40px;
  flex-grow: 1;
  cursor: pointer;
}
.search-bar button:focus {
  outline: none;
}
.search-bar button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: darkgrey;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.search-bar button:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.song-summary {
  box-shadow: 0 5px 5px 5px lightgrey;
  display: flex;
  margin: 25px auto;
  width: 800px;
  height: 280px;
}
.song-summary .modes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.song-summary .modes div {
  padding: 2px;
}
.song-summary .modes label {
  display: block;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 8px;
  border: 3px solid #F2F2F2;
}
.song-summary .modes label:hover {
  box-shadow: 0 0 4px 4px #F2F2F2;
}
.song-summary .modes input {
  display: none;
}
.song-summary .modes .difficulty {
  font-size: 2em;
  font-weight: 600;
}
.song-summary .modes .stats {
  font-style: italic;
}
.song-summary img {
  height: 100%;
  max-width: 280px;
}
.song-summary .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.song-summary .details .song-title {
  font-size: 2em;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px;
}
.song-summary .details .song-artist {
  font-size: 1.5em;
  font-weight: 600;
}
.song-summary .go {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  width: 100px;
  height: 40px;
  position: relative;
  left: 30px;
  top: 180px;
  color: whitesmoke;
  background-color: red;
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}
.song-summary .appear {
  visibility: initial;
}
.song-summary .disappear {
  visibility: hidden;
}

.small-song {
  box-shadow: 0 5px 5px 5px lightgrey;
  width: 800px;
  height: 120px;
  margin: 25px auto;
  display: flex;
}
.small-song img {
  height: 100%;
  max-width: 120px;
}
.small-song .details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.small-song .song-title {
  font-size: 2em;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-weight: 600;
}
.small-song .song-artist {
  font-size: 1.5em;
  font-weight: 600;
}
.small-song .difficulty {
  padding: 2px;
  font-size: 2em;
  font-weight: 600;
}
.small-song .timer {
  font-size: 2em;
  font-weight: 600;
}

.leaderboard {
  box-shadow: 0 5px 5px 5px lightgrey;
  margin: 25px auto;
  width: 600px;
  padding: 10px;
}
.leaderboard th {
  font-weight: 600;
}
.leaderboard td, .leaderboard th {
  padding: 5px;
}
.leaderboard tr:nth-child(even) {
  background-color: #eee;
}

.typing-test {
  max-width: 800px;
}
.typing-test input {
  padding: 0 70px;
  font-style: italic;
  height: 100px;
  font-size: 28pt;
}
.typing-test input.bad, .typing-test input:focus.bad {
  color: #ff0000;
}
.typing-test input:focus {
  outline: none;
}
.typing-test .lyrics div {
  font-size: 2em;
  padding: 10px 20px;
  font-weight: 300;
}

.finished {
  display: flex;
  flex-direction: column;
}
.finished .results {
  box-shadow: 0 5px 5px 5px lightgrey;
  width: 600px;
  margin: 15px auto;
  padding: 15px 0;
}
.finished .results .victory-message {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 15px;
}
.finished .results .stats {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.finished .results .stats div {
  display: flex;
  flex-direction: column;
  height: 140px;
}
.finished .results .stats div .value {
  font-size: 2em;
  font-weight: 600;
}
.finished .name-submission {
  box-shadow: 0 5px 5px 5px lightgrey;
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
}
.finished .name-submission * {
  font-size: 22px;
  margin: 15px;
  width: 20px;
}
.finished .name-submission input {
  border-bottom: 2px solid darkgrey;
  width: 100%;
  font-size: 22px;
}
.finished .name-submission button {
  width: 200px;
}

* {
  border: 0 solid black;
}

body {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
