@mixin shadow {
    box-shadow: 0 5px 5px 5px lightgrey;
}

@mixin default-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@mixin underline {
    border-bottom: 2px solid darkgrey;
}

@mixin rainbow {
    background: linear-gradient(-30deg, #946a90, #ff5898, #ff5151, #f88e5d);
    background-size: 300% 300%;
    animation: gradient 30s ease infinite;
}

$wide: 800px;
$narrow: 600px;
