@import 'all';

.title {
    @include rainbow; 

    display: flex;
    align-items: center;
    justify-content: center;

    letter-spacing: .3em;
    font-size: 5em;
    height: 2.5em;

    font-weight: 600;

    cursor: pointer;

    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
